Repository OpenZeppelin/rust-contracts-stylus, pull requests merged in 2024-06, with the labels that each got.

#105 ref: use proper library name
  Cargo.lock
  contracts/Cargo.toml
  examples/access-control/Cargo.toml
  examples/access-control/src/lib.rs
  examples/erc20/Cargo.toml
  examples/erc20/src/lib.rs
  examples/erc721/Cargo.toml
  examples/erc721/src/lib.rs
  examples/ownable/Cargo.toml
  examples/ownable/src/lib.rs
Labels: priority: 2, effort: low, type: ref

#110 fix(e2e): properly check errors match
  examples/erc721/tests/erc721.rs
  lib/e2e/src/assertions.rs
  lib/e2e/src/error.rs
  lib/e2e/src/event.rs
  lib/e2e/src/lib.rs
Labels: priority: 2, type: bug, type: test, effort: medium

#109 ref(e2e): remove the need to set tx's from by bumping alloy
  Cargo.lock
  Cargo.toml
  examples/erc20/Cargo.toml
  examples/erc721/Cargo.toml
  examples/erc721/tests/erc721.rs
  lib/e2e/Cargo.toml
Labels: type: test, effort: low, type: ref

#118 fix(ci): remove useless coverage workflow
  .github/workflows/e2e-tests.yml
Labels: priority: 1, effort: low, type: chore

#126 feat: use v0.1.1 of alloy from crates.io
  Cargo.lock
  Cargo.toml
  lib/e2e/src/system.rs
  lib/e2e/src/user.rs
Labels: priority: 2, type: feature, effort: low, type: build

#122 build: bump sdk to v0.5.0
  .github/scripts/check-wasm.sh
  .github/workflows/check-wasm.yml
  .github/workflows/e2e-tests.yml
  Cargo.lock
  Cargo.toml
  contracts/src/token/erc721/extensions/enumerable.rs
  contracts/src/token/erc721/mod.rs
  lib/e2e/src/deploy.rs
  lib/motsu/src/shims.rs
  scripts/nitro-testnode.sh
Labels: priority: 2, effort: low, type: build

#132 feat: use v0.1.0 of koba from crates.io
  .github/workflows/check-wasm.yml
  .github/workflows/e2e-tests.yml
  Cargo.lock
  lib/e2e/Cargo.toml
Labels: priority: 2, type: feature, effort: low, type: build

#130 chore: remove outdated comment
  .github/workflows/check-wasm.yml
Labels: priority: 0, effort: low, type: chore

#141 ref(docs): cleanup docs & add missing doc comments
  README.md
  examples/access-control/Cargo.toml
  examples/erc20/Cargo.toml
  examples/erc20/tests/erc20.rs
  examples/erc721/Cargo.toml
  examples/erc721/tests/erc721.rs
  examples/merkle-proofs/Cargo.toml
  examples/ownable/Cargo.toml
  lib/e2e-proc/src/lib.rs
  lib/e2e-proc/src/test.rs
  lib/e2e/README.md
  lib/e2e/src/deploy.rs
  lib/e2e/src/error.rs
  lib/e2e/src/event.rs
  lib/e2e/src/lib.rs
  lib/e2e/src/project.rs
  lib/e2e/src/system.rs
  lib/e2e/src/user.rs
  lib/motsu-proc/src/default_storage_layout.rs
  lib/motsu-proc/src/lib.rs
  lib/motsu-proc/src/test.rs
  lib/motsu/src/shims.rs
  lib/motsu/src/storage.rs
Labels: priority: 1, type: docs, effort: low, type: ref, type: chore

#139 feat(e2e): add Ownable tests
  Cargo.lock
  contracts/src/access/ownable.rs
  examples/erc20/tests/erc20.rs
  examples/ownable/Cargo.toml
  examples/ownable/tests/abi.rs
  examples/ownable/tests/ownable.rs
Labels: priority: 2, type: test, effort: low

#150 ref: aggregate deps in root manifest
  Cargo.toml
  contracts/Cargo.toml
  examples/erc20/Cargo.toml
  examples/erc721/Cargo.toml
  examples/ownable/Cargo.toml
  lib/crypto/Cargo.toml
  lib/e2e-proc/Cargo.toml
  lib/e2e/Cargo.toml
  lib/motsu-proc/Cargo.toml
  lib/motsu/Cargo.toml
Labels: priority: 0, effort: low, type: ref

#148 feat: add full user journey example
  .github/scripts/check-wasm.sh
  .github/workflows/check.yml
  .github/workflows/nostd.yml
  Cargo.lock
  Cargo.toml
  README.md
  contracts/src/access/mod.rs
  contracts/src/lib.rs
  examples/basic/README.md
  examples/basic/script/Cargo.toml
  examples/basic/script/src/main.rs
  examples/basic/token/Cargo.toml
  examples/basic/token/src/constructor.sol
  examples/basic/token/src/lib.rs
  examples/merkle-proofs/src/lib.rs
  examples/ownable/tests/ownable.rs
  lib/e2e/src/deploy.rs
  lib/e2e/src/project.rs
Labels: priority: 2, type: bug, type: docs, effort: medium
